# small monitor @ gjm
profile {
	output "Unknown 2360 BBCD49A000999" position 0,0
	output eDP-1 position 0,1080
}

# medium monitor @ gjm
profile {
	output "Dell Inc. DELL U2711 G606T1AS091L" position 0,0
	output eDP-1 position 0,1080
}

# monitor @ ADL / Rudolf
profile {
	output "Samsung Electric Company S27C650 HTPF300180" position 0,0
	output eDP-1 position 0,1080
}

## both monitors in my room, left one vertical
#profile {
#	output "Unknown HP X27i CNK0191DF8" position 0,0 transform 90
#	output "Philips Consumer Electronics Company 273ELH AU11226006125" position 1440,400
#	output eDP-1 position 1440,1480
#}

# both monitors in my room, left one horizontal
profile {
	output "Unknown HP X27i CNK0191DF8" position 0,0
	output "Philips Consumer Electronics Company 273ELH AU11226006125" position 2560,360
	output eDP-1 position 640,1440
}

# no external monitor
profile {
	output eDP-1 position 0,0
}

# office 141
profile {
	output "Goldstar Company Ltd 23MB35 509NTPC0N960" position 0,0
	output eDP-1 position 0,1080
}

# office 141, vertical
profile {
	output "Goldstar Company Ltd 23MB35 509NTPC0N960" position 0,0 transform 90
	output eDP-1 position 1080,840
}

# office @ ETP, both monitors
profile {
	output eDP-1 position 0,1050
	output "Goldstar Company Ltd 23MB35 " position 1920,0 transform 90
	output "Philips Consumer Electronics Company Philips 220SW FE30834233180" position 240,0
}