[user]
	email = {{ .user.email }}
	name = {{ .user.name }}

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret

[commit]
	verbose = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only
